<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Project</h1>
    <form action="/project/edit/<%= data.id %>" method="POST">
        <div>
            <label for="">Name</label>
            <input type="text" name="name" value="<%= data.name %>">
        </div>
        <div>
            <label for="">Deadline</label>
            <input type="date" name="deadline" value="<%= convertDate %>">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>