<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INI HOME</h1>
    <% if (data.name){%>
        <h2> Halo <%= data.name %>!</h2>
    <%} else{%>
        <h2>Halo! kamu belum login</h2>
    <%} %>
</body>
</html>